:root {
  --grey-200: #43413b;
  --grey-100: #262521;
  --white: #1d1c19;
  --invert-grey: #adadad;
  --invert-black: #ffffff;
}

/* Global color scheme */
html {
  color-scheme: dark !important;
}

body {
  background-color: var(--white);
  color: #fffddd;
  border-color: #827661;
  transition: background-color 0.3s, color 0.3s;
}

/* Links, tables, and selections */
a { color: #7399be; }
table { border-color: #666359; }
mark, ::placeholder { color: #cdbda1; }

::selection,
::-moz-selection {
  background-color: #2e4f75 !important;
  color: #fffddd !important;
}

/* Inputs and autofill styling */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #47441b !important;
  color: #fffddd !important;
}

/* Button overrides */
.btn {
  background-color: var(--grey-200);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.calendar {
  filter: invert(0.9) hue-rotate(180deg);
  border: none;
  width: 100%;
  height: 600px;
}