/* Design Tokens */

   :root {
    --black: #0b0b0b;
    --grey-900: #1a1a1a;
    --grey-700: #2b2b2b;
    --grey-600: #3a3a3a;
    --grey-200: #e5e5e5;
    --grey-100: #f2f2f2;
    --yellow: #ffd000;
    --yellow-700: #c9a400;
    --white: #ffffff;
    --stay-white: #ffffff;
    --invert-grey: #2b2b2b;
    --invert-black: #0b0b0b;
  }