{% extends 'base.html' %}

{% block title %}{{ team.name }} • ShowMeStatistics{% endblock %}

{% block content %}
<section class="team-layout">
  <div class="team-main">

    <!-- Top Tabs -->
    <div class="team-tabs">
      <a class="tab" href="{{ url_for('routes.teams') }}">
          ← Teams
        </a>
      <a class="tab active" href="#scores">Scores</a>
      <a class="tab" href="{{ url_for('routes.team_roster', team_slug=team.slug, team_year=2025) }}">
        Roster
      </a>
      <a class="tab" href="#stats">Stats</a>
    </div>





    <!-- Team Schedule -->
    <div class="calendar-card">
      <div class="calendar-header">{{ team.name }} Schedule</div>
      <div class="calendar-grid">
        {% if events %}
          {% for e in events %}
          <div class="calendar-event">
            <div class="event-date">VS {{ e.opponent_name }}</div>
            <div class="event-title">{{ e.game_date }}</div>
            <div class="event-meta">{{ e.location }} • {{ e.result }}</div>
            <div class="event-meta">{{ e.score_for }} - {{ e.score_against }}</div>
            <div class="event-meta">{{ e.game_time }} • {{ '' if e.game_number is none else e.game_number }}</div>
          </div>
          {% endfor %}
        {% else %}
          <div class="empty-state">No upcoming events found (placeholder)</div>
        {% endif %}
      </div>
    </div>
  </div>



  <!-- Team News-->
  <aside class="team-news">
    <div class="news-header">Latest News</div>
    <ul class="news-list">
      {% for n in news %}
      <li>
        <div class="news-title">{{ n.title }}</div>
        <div class="news-date">{{ n.date }}</div>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
{% endblock %}


